{% extends "appdan/template.htm" %}
{% load static %}

{% block cabecalho %}
	<title>Quem Somos?</title>
{% endblock %}

{% block estilo %}
	<link rel="stylesheet" type="text/css" href="{% static 'appdan/estilos.css' %}">
{% endblock %}

{% block conteudo %}
	<header>
		<h1>Conheça a {{nome_da_fruta}}</h1>
	</header>

	<main>
		<p>
			A {{fruta|add:" "|add:nome_da_fruta}} é uma fruta!!!!
		</p>
		<p>
			Esta fruta é {{bomounao|lower}}. Isso mesmo a fruta {{nome_da_fruta}} é {{bomounao|upper}}.
		</p>

		<h1>Qualidades e defeitos</h1>

		{% lorem %}

		<h1>Criadores</h1>

		<ul>
			{% for fruta in frutas %}
				<li>{{fruta|title}}</li>
			{% endfor %}
		</ul>
	</main>
{% endblock %}