h1 {
    color: #000000;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: #000000;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

ul {
    list-style-type:circle;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}