<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8"/>
		<title>Quem Somos?</title>
	</head>
	
	<body>
		<header>
			<h1>Conheça o {{nome_familia}}</h1>
		</header>
		
		<article>
		<main>
			<p>
				O {{nome|add:" "|add:nome_familia}} é uma pessoa incrível!!!!
			</p>
			<p>
				Ele está cursando {{curso|upper}}. O curso de {{curso|lower}} é incrível.
			</p>

			<h1>História</h1>

			{% lorem %}

			<h1>Equipe</h1>

			<ul>
				{% for pessoa in equipe %}
					<li>{{pessoa|title}}</li>
				{% endfor %}
			</ul>
		</main>
		</article>
		
		{% include "app_ezequiel/rodape.htm" %}
	</body>
</html>