<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8"/>
		<title>Linguagens de Programação</title>
		<link href="style/style.css" rel="stylesheet" />
	</head>
	
	<body>
		<header>
			<h1>Conteúdo: Programação Web</h1>
		</header>
		
		<nav>
			<a href="hof.htm">HoF</a> <br>
			<a href="https://developer.mozilla.org" target="_blank">MDN</a> <br>
			<a href="https://www.w3schools.com" target="_blank">W3C</a> <br>
			<a href="https://freeformatter.com" target="_blank">Free Formatter</a> <br>
			<a href="https://htmlcolorcodes.com" target="_blank">HTML Color Codes</a> <br>
			<a href="http://www.csszengarden.com" target="_blank">CSS Zen Garden</a> <br>
			<a href="https://flukeout.github.io" target="_blank">CSS Diner</a>
		</nav>
		
		<article>
		<header>
			<h2>HTML: HyperText Markup Language</h3>
		</header>
		<main>
			<h3>Elementos Conhecidos </h4>
			<p class="content_paragraph">Elementos HTML discutidos em sala de aula e utilizados no site exemplo</p>
			<ul>
				<li>&lt;a&gt;</li>
				<li>&lt;article&gt;</li>
				<li>&lt;br&gt;</li>
				<li>&lt;header&gt;</li>
				<li>&lt;img&gt;</li>
				<li>&lt;p&gt;</li>
				<li>&lt;table&gt;</li>
				<li>&lt;td&gt;</li>
				<li>&lt;th&gt;</li>
				<li>&lt;tr&gt;</li>
				<li>&lt;title&gt;</li>
			</ul>
		</main>
		</article>
		
		<article>
		<header>
			<h2>CSS: Cascading Style Sheets</h3>
		</header>
		<main>
			<h3>Propriedades Conhecidas </h4>
			<ul>
				<li>cor</li>
			</ul>
		</main>
		</article>
		
		<aside>
			<p id="teste_id" class="teste_classe">Este é o conteúdo de Lingugagens de Programação: Front End</p>
			<a href="#">Aqui mesmo</a>
		</aside>
		
		<footer>Copyright &copy; 2021 by EMAp.</footer>
	</body>
</html>