{% extends "Jacob/template.htm" %}
{% load static %}

{% block cabecalho %}
	<title>Apoie</title>
{% endblock %}

{% block estilo %}
	<link rel="stylesheet" type="text/css" href="{% static 'Jacob/estilos.css' %}">
{% endblock %}

{% block conteudo %}
	<header>
		<h1>Apoie us project</h1>
	</header>
		
	<article>
		<main>
			<p>
				Não deixe de apoiar nosso projeto, nós imploramos e de forma alguma me espelhei na página do Ezequilzinho pra fazer esta página!!!
			</p>
		</main>
	</article>
{% endblock %}